### 행정구역 정보 분석 및 시각화
1. pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기
2. Data Selection : loc[] / iloc[] 를 사용해서 특정 Row와 Column 선택하기
3. 컬럼명 변경하기
4. DataFrame 객체를 Excel file로 저장하기
5. Data Grouping : groupby() 함수를 사용해서 그룹핑하기
6. 상관관계 분석 : corr() 함수를 사용해서 인구수와 면적간의 상관관계 
7. 시각화 : seaborn의 barplot() 함수를 사용해서 Plot 그리기

In [100]:
!pip show pandas

Name: pandas
Version: 2.2.3
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author:
Author-email: The Pandas Development Team <pandas-dev@python.org>
License: BSD 3-Clause License

 Copyright (c) 2008-2011, AQR Capital Management, LLC, Lambda Foundry, Inc. and PyData Development Team
 All rights reserved.

 Copyright (c) 2011-2023, Open source contributors.

 Redistribution and use in source and binary forms, with or without
 modification, are permitted provided that the following conditions are met:

 * Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

 * Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

 * Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
 OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

Location: C:\Users\winds\anaconda3\Lib\site-packages
Requires: numpy, python-dateutil, pytz, tzdata
Required-by: bokeh, datashader, holoviews, hvplot, panel, seaborn, statsmodels, streamlit, xarray

In [101]:
import pandas as pd
print(pd.__version__)

2.2.3

##### pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기

In [102]:
df = pd.read_csv('data/data_draw_korea.csv')

ddf = df.to_dict()

# for x,y in ddf.items():
#     print(x,y)

ndf = df.to_numpy()

In [103]:
# head() 함수
df.head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [104]:
# tail() 함수

df.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [105]:
# sample() 함수

df.sample(3)

     Unnamed: 0     인구수 shortName   x   y       면적   광역시도 행정구역
15           15   62957        홍천  10   4  1817.94    강원도  홍천군
190         190   76854        남원   5  17   752.74   전라북도  남원시
118         118  107107      부산서구   9  18    13.67  부산광역시   서구

In [106]:
# 컬렴명 확인하기
print(f'columns = {df.columns}')

# 인덱스 확인하기
print(f"index = {df.index}")

columns = Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
index = RangeIndex(start=0, stop=229, step=1)

In [107]:
# values 속성으로 값 확인하기
df.values

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']], dtype=object)

In [108]:
# info() 함수
df.info

<bound method DataFrame.info of      Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역
0             0  202520        강릉  11   4  1040.07   강원도  강릉시
1             1   25589    고성(강원)   9   0   664.19   강원도  고성군
2             2   86747        동해  11   5   180.01   강원도  동해시
3             3   63986        삼척  11   8  1185.80   강원도  삼척시
4             4   76733        속초   9   1   105.25   강원도  속초시
..          ...     ...       ...  ..  ..      ...   ...  ...
224         224  127462        제천   8  10   882.47  충청북도  제천시
225         225   34480        증평   6  11    81.84  충청북도  증평군
226         226   62809        진천   5  11   406.08  충청북도  진천군
227         227  790216        청주   6  12   932.51  충청북도  청주시
228         228  198077        충주   6  10   983.70  충청북도  충주시

[229 rows x 8 columns]>

In [109]:
# 모든 컬럼의 타입 확인

df.dtypes

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

In [110]:
# 면적 컬럼의 타입을 확인
print(type(df['면적']))

df['면적'].dtypes

<class 'pandas.core.series.Series'>

dtype('float64')

In [111]:
# 특정컬럼(인구수)의 타입 확인
print(type(df.인구수)) # column명에 공백이 없을 경우에만 쓸 수 있음
df['인구수'].dtypes

<class 'pandas.core.series.Series'>

dtype('int64')

In [112]:
# describe() 함수, 숫자 타입인 컬럼의 통계함수 출력
df.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [113]:
# describe() 함수, 문자열(object) 타입인 컬럼의 통계함수 출력
df.describe(include=[object])

       shortName 광역시도 행정구역
count        229  229  229
unique       229   17  206
top           강릉  경기도   중구
freq           1   31    6

In [114]:
df.loc[df['행정구역'] == '동구']

     Unnamed: 0     인구수 shortName   x   y      면적   광역시도 행정구역
92           92   97571      광주동구   3  20   48.86  광주광역시   동구
98           98  330830      대구동구  11  13  182.35  대구광역시   동구
104         104  236524      대전동구   5  13  136.80  대전광역시   동구
112         112   85952      부산동구  10  17    9.77  부산광역시   동구
151         151  164738      울산동구  12  14   35.77  울산광역시   동구
159         159   68950      인천동구   1   5    7.05  인천광역시   동구

In [115]:
# 해당 조건식과 매칭되는 Row data 출력

In [116]:
# '광역시도' == '경기도'
df.loc[df['광역시도'] =='제주특별자치도','인구수':'행정구역'].reset_index(drop=True)

      인구수 shortName  x   y      면적     광역시도  행정구역
0  145369       서귀포  4  25  870.68  제주특별자치도  서귀포시
1  430504        제주  4  24  977.80  제주특별자치도   제주시

In [117]:
#unique한 광역시도명 출력하기
df['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [118]:
#index를 1부터 시작하도록
gy_df = df.loc[df['광역시도'] =='경기도','인구수':'행정구역'].reset_index(drop=True)

In [119]:
import numpy as np

#index 변경
gy_df.index = np.arange(1,len(gy_df)+1) #1이면 +1, 5면 +5

gy_df

        인구수 shortName  x  y       면적 광역시도  행정구역
1     53497        가평  9  3  843.040  경기도   가평군
2    955384        고양  4  2  267.330  경기도   고양시
3     63227        과천  7  7   35.813  경기도   과천시
4    327111        광명  3  3   38.500  경기도   광명시
5    290210        광주  8  7  431.840  경기도   광주시
6    175676        구리  9  4   33.300  경기도   구리시
7    273302        군포  5  8   36.350  경기도   군포시
8    326523        김포  2  3  276.640  경기도   김포시
9    610300       남양주  8  3  458.440  경기도  남양주시
10    90398       동두천  7  2   95.680  경기도  동두천시
11   805473        부천  2  4   53.440  경기도   부천시
12   911628        성남  7  8  141.820  경기도   성남시
13  1125461        수원  6  9  121.090  경기도   수원시
14   381412        시흥  3  5  134.400  경기도   시흥시
15   668089        안산  3  6  144.780  경기도   안산시
16   173061        안성  4  8  554.200  경기도   안성시
17   566558        안양  3  4   58.520  경기도   안양시
18   191266        양주  8  2  310.310  경기도   양주시
19    95614        양평  9  6  877.080  경기도   양평군
20   100669        여주  9  7  608.640  경기도   여주시
21    41076        연천  7  1  695.230  경기도   연천군
22   200793        오산  3  8   42.740  경기도   오산시
23   915005        용인  7  9  591.500  경기도   용인시
24   149080        의왕  6  8   54.000  경기도   의왕시
25   408220       의정부  7  3   81.590  경기도  의정부시
26   190537        이천  8  8  461.020  경기도   이천시
27   385528        파주  3  2  672.560  경기도   파주시
28   423763        평택  5  9  452.310  경기도   평택시
29   140159        포천  8  1  826.380  경기도   포천시
30   150061        하남  9  5   93.100  경기도   하남시
31   555129        화성  3  7  688.100  경기도   화성시

In [120]:
# describe() 함수, 모든 컬럼의 통계함수 출력
df_all_describe =  df.describe(include='all')
df_all_describe

,Unnamed: 0,인구수,shortName,x,y,면적,광역시도,행정구역
count,229.000000,2.290000e+02,229,229.000000,229.000000,229.000000,229,229
unique,NaN,NaN,229,NaN,NaN,NaN,17,206
top,NaN,NaN,강릉,NaN,NaN,NaN,경기도,중구
freq,NaN,NaN,1,NaN,NaN,NaN,31,6
mean,114.000000,2.110898e+05,NaN,6.117904,11.262009,435.419795,NaN,NaN
std,66.250786,2.074378e+05,NaN,3.320469,6.040898,381.612549,NaN,NaN
min,0.000000,8.392000e+03,NaN,0.000000,0.000000,2.800000,NaN,NaN
25%,57.000000,4.955900e+04,NaN,3.000000,6.000000,54.000000,NaN,NaN
50%,114.000000,1.401590e+05,NaN,6.000000,11.000000,436.400000,NaN,NaN
75%,171.000000,3.216180e+05,NaN,9.000000,16.000000,692.800000,NaN,NaN
max,228.000000,1.125461e+06,NaN,13.000000,25.000000,1817.940000,NaN,NaN

### Data Selection
* loc[] 또는 iloc[]
* loc[Row 선택, Column 선택]

In [121]:
# 인구수 1개의 컬럼 선택
df['인구수']

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [122]:
# ['행정구역','인구수','면적'] 컬럼의 데이터 출력
df[['행정구역','인구수','면적']].head()

  행정구역     인구수       면적
0  강릉시  202520  1040.07
1  고성군   25589   664.19
2  동해시   86747   180.01
3  삼척시   63986  1185.80
4  속초시   76733   105.25

In [123]:
# 인구수 컬럼의 집계함수
data = df
print(f"인구수 최대값 {data['인구수'].max():,}")
print(f"인구수 최소값 {data['인구수'].min():,}")
print(f"인구수 평균 {round(data['인구수'].mean()):,}")
print(f"인구수 표준편차 {round(data['인구수'].std()):,}")
print(f"인구수 중간값 {data['인구수'].median():,}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1,125,461
인구수 최소값 8,392
인구수 평균 211,090
인구수 표준편차 207,438
인구수 중간값 140,159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64

In [124]:
# 인구수가 가장 많은 행정구역?
# 인구수의 최대값을 max_prop 변수에 저장

#data['인구수'] == max_prop

max_pop = df['인구수'].max()

df.loc[df['인구수']==max_pop]

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [125]:
# 면적이 넓은 행정구역?

max_sqr = df['면적'].max()

df.loc[df['면적']==max_sqr]

    Unnamed: 0    인구수 shortName   x  y       면적 광역시도 행정구역
15          15  62957        홍천  10  4  1817.94  강원도  홍천군

In [126]:
# 인구수가 가장 적은 행정구역?

min_pop = df['인구수'].min()

df.loc[df['인구수']==df['인구수'].min()]

    Unnamed: 0   인구수 shortName   x  y     면적  광역시도 행정구역
83          83  8392        울릉  13  6  72.82  경상북도  울릉군

In [127]:
# unique한 광역시도명
df['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [128]:
# 광역시도별 Row Counting

df['광역시도'].value_counts()

광역시도
경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
광주광역시       5
대전광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: count, dtype: int64

In [129]:
#data['행정구역'] == '경기도' 의 ['행정구역','인구수','면적']  컬럼의 데이터 출력하기
df = pd.read_csv('data/data_draw_korea.csv')
df.loc[df['광역시도'] == '경기도' , ['행정구역','인구수','면적']]\
    .sort_values(by='인구수',ascending = False).reset_index(drop=True)

    행정구역      인구수       면적
0    수원시  1125461  121.090
1    고양시   955384  267.330
2    용인시   915005  591.500
3    성남시   911628  141.820
4    부천시   805473   53.440
5    안산시   668089  144.780
6   남양주시   610300  458.440
7    안양시   566558   58.520
8    화성시   555129  688.100
9    평택시   423763  452.310
10  의정부시   408220   81.590
11   파주시   385528  672.560
12   시흥시   381412  134.400
13   광명시   327111   38.500
14   김포시   326523  276.640
15   광주시   290210  431.840
16   군포시   273302   36.350
17   오산시   200793   42.740
18   양주시   191266  310.310
19   이천시   190537  461.020
20   구리시   175676   33.300
21   안성시   173061  554.200
22   하남시   150061   93.100
23   의왕시   149080   54.000
24   포천시   140159  826.380
25   여주시   100669  608.640
26   양평군    95614  877.080
27  동두천시    90398   95.680
28   과천시    63227   35.813
29   가평군    53497  843.040
30   연천군    41076  695.230

In [130]:
# data['행정구역'] == '경기도' 의 ['행정구역','인구수','면적']  컬럼의 데이터를 면적을 descending 순서대로 출력하기

df.loc[df['광역시도'] == '경기도', ['행정구역','인구수','면적']]

    행정구역      인구수       면적
18   가평군    53497  843.040
19   고양시   955384  267.330
20   과천시    63227   35.813
21   광명시   327111   38.500
22   광주시   290210  431.840
23   구리시   175676   33.300
24   군포시   273302   36.350
25   김포시   326523  276.640
26  남양주시   610300  458.440
27  동두천시    90398   95.680
28   부천시   805473   53.440
29   성남시   911628  141.820
30   수원시  1125461  121.090
31   시흥시   381412  134.400
32   안산시   668089  144.780
33   안성시   173061  554.200
34   안양시   566558   58.520
35   양주시   191266  310.310
36   양평군    95614  877.080
37   여주시   100669  608.640
38   연천군    41076  695.230
39   오산시   200793   42.740
40   용인시   915005  591.500
41   의왕시   149080   54.000
42  의정부시   408220   81.590
43   이천시   190537  461.020
44   파주시   385528  672.560
45   평택시   423763  452.310
46   포천시   140159  826.380
47   하남시   150061   93.100
48   화성시   555129  688.100

In [131]:
#경기도에 속한 행정구역명, 인구수, 면적 선택하기 인구수를 descending 순서대로 출력하고 index reset 하여 gy_df 라는 변수에 저장하기
#data.loc[row , col]

# 인구수2 라는 새로운 컬럼을 생성


df = pd.read_csv('data/data_draw_korea.csv')

gy_df = df.loc[df['광역시도'] == '경기도' , ['행정구역','인구수','면적']]\
    .sort_values(by='인구수',ascending = False).reset_index(drop=True)

In [132]:
# 면적이 > 1000 큰 조건과 매핑되는 새로운 DataFrame 생성 area_1000 라는 변수에 저장하기

gy_df['면적2'] = gy_df['면적'].map(lambda val: f"{val:.2f}")

#gy_df.head(5)

area_1000 = df.loc[df['면적']>1000].copy()

area_1000

    Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역
0            0  202520        강릉  11   4  1040.07   강원도  강릉시
3            3   63986        삼척  11   8  1185.80   강원도  삼척시
7            7   34966        영월  10   8  1127.36   강원도  영월군
9            9   29260        인제   9   2  1646.08   강원도  인제군
10          10   34242        정선  11   6  1220.67   강원도  정선군
12          12  264144        춘천  10   3  1116.35   강원도  춘천시
14          14   38439        평창  10   6  1463.65   강원도  평창군
15          15   62957        홍천  10   4  1817.94   강원도  홍천군
68          68  242618        경주  12  12  1323.85  경상북도  경주시
72          72  127941        김천   8  11  1009.56  경상북도  김천시
74          74   30287        봉화  11   9  1201.00  경상북도  봉화군
75          75   93305        상주   8   9  1254.82  경상북도  상주시
77          77  157317        안동  10  10  1519.00  경상북도  안동시
85          85   48776        의성  10  11  1175.89  경상북도  의성군
89          89  488395        포항  12  11  1127.00  경상북도  포항시

In [133]:

# area_1000 DtaFrame 객체에 면적2 컬럼을 생성
area_1000['면적2'] = area_1000['면적'].map("{:.2f}".format)

area_1000

    Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역      면적2
0            0  202520        강릉  11   4  1040.07   강원도  강릉시  1040.07
3            3   63986        삼척  11   8  1185.80   강원도  삼척시  1185.80
7            7   34966        영월  10   8  1127.36   강원도  영월군  1127.36
9            9   29260        인제   9   2  1646.08   강원도  인제군  1646.08
10          10   34242        정선  11   6  1220.67   강원도  정선군  1220.67
12          12  264144        춘천  10   3  1116.35   강원도  춘천시  1116.35
14          14   38439        평창  10   6  1463.65   강원도  평창군  1463.65
15          15   62957        홍천  10   4  1817.94   강원도  홍천군  1817.94
68          68  242618        경주  12  12  1323.85  경상북도  경주시  1323.85
72          72  127941        김천   8  11  1009.56  경상북도  김천시  1009.56
74          74   30287        봉화  11   9  1201.00  경상북도  봉화군  1201.00
75          75   93305        상주   8   9  1254.82  경상북도  상주시  1254.82
77          77  157317        안동  10  10  1519.00  경상북도  안동시  1519.00
85          85   48776        의성  10  11  1175.89  경상북도  의성군  1175.89
89          89  488395        포항  12  11  1127.00  경상북도  포항시  1127.00

### inplace 속성
- inplace =  False(default 값) <-원본 데이터를 변경하지 않고, 변경한 내용을 출력만 함

- inplace = True <- 원본 데이터를 변경하고 출력은 안함

In [134]:
area_1000.reset_index(drop=True,inplace= False)

    Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역      면적2
0            0  202520        강릉  11   4  1040.07   강원도  강릉시  1040.07
1            3   63986        삼척  11   8  1185.80   강원도  삼척시  1185.80
2            7   34966        영월  10   8  1127.36   강원도  영월군  1127.36
3            9   29260        인제   9   2  1646.08   강원도  인제군  1646.08
4           10   34242        정선  11   6  1220.67   강원도  정선군  1220.67
5           12  264144        춘천  10   3  1116.35   강원도  춘천시  1116.35
6           14   38439        평창  10   6  1463.65   강원도  평창군  1463.65
7           15   62957        홍천  10   4  1817.94   강원도  홍천군  1817.94
8           68  242618        경주  12  12  1323.85  경상북도  경주시  1323.85
9           72  127941        김천   8  11  1009.56  경상북도  김천시  1009.56
10          74   30287        봉화  11   9  1201.00  경상북도  봉화군  1201.00
11          75   93305        상주   8   9  1254.82  경상북도  상주시  1254.82
12          77  157317        안동  10  10  1519.00  경상북도  안동시  1519.00
13          85   48776        의성  10  11  1175.89  경상북도  의성군  1175.89
14          89  488395        포항  12  11  1127.00  경상북도  포항시  1127.00

In [135]:


area_1000.reset_index(drop=True,inplace= True)
area_1000

    Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역      면적2
0            0  202520        강릉  11   4  1040.07   강원도  강릉시  1040.07
1            3   63986        삼척  11   8  1185.80   강원도  삼척시  1185.80
2            7   34966        영월  10   8  1127.36   강원도  영월군  1127.36
3            9   29260        인제   9   2  1646.08   강원도  인제군  1646.08
4           10   34242        정선  11   6  1220.67   강원도  정선군  1220.67
5           12  264144        춘천  10   3  1116.35   강원도  춘천시  1116.35
6           14   38439        평창  10   6  1463.65   강원도  평창군  1463.65
7           15   62957        홍천  10   4  1817.94   강원도  홍천군  1817.94
8           68  242618        경주  12  12  1323.85  경상북도  경주시  1323.85
9           72  127941        김천   8  11  1009.56  경상북도  김천시  1009.56
10          74   30287        봉화  11   9  1201.00  경상북도  봉화군  1201.00
11          75   93305        상주   8   9  1254.82  경상북도  상주시  1254.82
12          77  157317        안동  10  10  1519.00  경상북도  안동시  1519.00
13          85   48776        의성  10  11  1175.89  경상북도  의성군  1175.89
14          89  488395        포항  12  11  1127.00  경상북도  포항시  1127.00

In [136]:
area_1000.drop("Unnamed: 0",axis= 1,inplace=True)
area_1000

       인구수 shortName   x   y       면적  광역시도 행정구역      면적2
0   202520        강릉  11   4  1040.07   강원도  강릉시  1040.07
1    63986        삼척  11   8  1185.80   강원도  삼척시  1185.80
2    34966        영월  10   8  1127.36   강원도  영월군  1127.36
3    29260        인제   9   2  1646.08   강원도  인제군  1646.08
4    34242        정선  11   6  1220.67   강원도  정선군  1220.67
5   264144        춘천  10   3  1116.35   강원도  춘천시  1116.35
6    38439        평창  10   6  1463.65   강원도  평창군  1463.65
7    62957        홍천  10   4  1817.94   강원도  홍천군  1817.94
8   242618        경주  12  12  1323.85  경상북도  경주시  1323.85
9   127941        김천   8  11  1009.56  경상북도  김천시  1009.56
10   30287        봉화  11   9  1201.00  경상북도  봉화군  1201.00
11   93305        상주   8   9  1254.82  경상북도  상주시  1254.82
12  157317        안동  10  10  1519.00  경상북도  안동시  1519.00
13   48776        의성  10  11  1175.89  경상북도  의성군  1175.89
14  488395        포항  12  11  1127.00  경상북도  포항시  1127.00

In [179]:
#area_100:df 객체에 면적3 컬럼 생성 , 면적의 값이 1500보다 큰 경우에만 해당하는 조건식

area_1000.loc[area_1000['면적']>1500,'면적3']

KeyError: '면적3'

In [137]:
#경기도 인구수의 평균과 표준편차

In [138]:
#광역시도명을 인자로 받아서 해당 광역시에 속한 행정구역들의 인구수의 평균과 편차 구하기
def pop_mean_std(sido_name):
    pass

In [139]:
pop_mean_std('서울특별시')

In [140]:
# Unique한 광역시도명 순회하면서  광역시도명을 출력합니다.

In [141]:
#loc[] 사용
#인덱스가 20 부터 25까지

In [142]:
#iloc[] 사용
#인덱스가 20 부터 24까지

In [143]:
#iloc[row index, column index] 사용 
#인덱스가 20 부터 25까지 컬럼이 인구수부터 행정구역 까지

In [144]:
#loc[] 사용
#index가 40,55,60 이고, column이 인구수,광역시도,행정구역

In [145]:
#인덱스가 0인 행 하나만 선택

In [146]:
#열 하나만 선택

### 컬럼명 변경하기, 컬럼을 인덱스 전환하기
* rename() 함수
* inPlace=False (default) 원본 DataFrame객체를 변경하지 않고, 변경한 결과만 출력한다.
* inPlace=True 원본 DataFrame객체를 변경하고, 변경한 결과는 출력하지 않는다.

In [147]:
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [148]:
# 'Unnamed: 0' 컬럼명을 'seq' 로 변경한다. 원본 객체는 변경되지 않고 변경된 결과만 출력함

In [149]:
#원본 객체가 변경되고 변경된 결과는 출력하지 않는다.

In [150]:
# seq 컬럼을 인덱스로 변경한다 ( 원본 객체가 변경됨 )

### DataFrame을 Excel file로 저장하기
* 인구수가 평균보다 작은 행정구역, 광역시도, 인구수를 선택해서 DataFrame생성하기
* DataFrame의 to_excel() 함수 사용

In [151]:
# 인구수의 평균값 구하기

In [152]:
# 인구수의 평균값보다 작은 Row를 선택하고, '광역시도','행정구역','인구수' 컬럼값을 가져오기
# 정렬할때 광역시도는 ascending으로 , 인구수는 descending

In [153]:
# DataFrame의 to_excel() 함수를 사용하여 excel 파일로 저장

### GroupBy 기능 사용하기
* 광역시도별 행정구역의 인구수 합계
* ~별에 해당하는 컬럼명이나 컬럼값을 groupby() 함수의 인자로 전달한다.
* Series 객체의 groupby(data['광역시도']) 함수는 컬럼의 값을 인자로 전달하고
* DataFrame 객체의 groupby('광역시도') 함수는 컬럼명을 인자로 전달합니다.

In [154]:
# Series 객체 사용 - 광역시도별 인구수의 합계 
# SeriesGroupBy object

In [155]:
# DataFrame 객체 사용 - 광역시도별 인구수의 합계 
# DataFrameGroupBy object

In [156]:
# DataFrameGroupBy

In [157]:
# 광역시도별 행정구역별 인구수의 합계

In [158]:
# data/광역시도별행정구역별인구수의합계.xlsx 파일로 저장하기

### 엑셀 수치 데이터에 콤마찍기
[pandas.ExcelWriter](https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html)

In [159]:
#%pip install xlsxwriter

In [160]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
#writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
#group_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
# workbook  = writer.book
# worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
# num_format = workbook.add_format({'num_format': '#,###'})
# worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
# writer.close() #_save()

#### 상관계수 (Correlation Coefficient)
* 인구수와 면적 데이터간에 관련성이 있는지 살펴보기 위해서 상관계수 구하기
* 상관계수 값은 -1 ~ 1 사이의 값이며, 0에 가까울 수록 관련성이 낮고, 1에 가까울 수록 관련성이 높다. 
* 음수는 반비례 (면적이 넓은 반면 인구수는 적은 경우), 양수는 비례 (면적이 넓고, 인구수도 높은 경우)
* corr() 함수

In [161]:
#전국의 면적과 인구수의 상관계수 구하기

In [162]:
#서울의 면적과 인구수의 상관계수 구하기

In [163]:
#경기도의 면적과 인구수의 상관계수 구하기

#### Groupby 한 DataFrame에 집계함수를 여러개 설정하기
* agg() 함수
* agg(['max','mean','std'])

In [164]:
# agg() 함수 사용하여 여러개의 통계함수를 사용합니다. 
# fillna(0) NaN 을 0 으로 변경해 줌

In [165]:
# agg() 함수 사용 - 그룹핑한 데이터를 여러개의 집계함수를 사용해서 새로운 DataFrame 객체 생성하기

In [166]:
# DataFrame의 style.format() 함수 사용하기

In [167]:
# 컬럼의 값을 변경하기 map() 함수를 사용하여 포맷하기

#### 시각화
* %matplotlib inline 설정 (jupyter 에서는 show() 함수를 호출하지 않아도 plot이 출력된다)
* 한글폰트 설정이 필요함
* Plot에 대한 설정은 matplotlib의 함수를 사용하고, Plot을 그려주는 기능은 seaborn()의 함수를 사용합니다.

In [168]:
%matplotlib inline

In [169]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

print('matplotlib ', matplotlib.__version__)
print('seaborn ', sns.__version__)

matplotlib  3.10.0
seaborn  0.13.2

In [170]:
# for font in fm.fontManager.ttflist:
#     print((font.name, font.fname))
# 폰트이름과 폰트파일 정보 출력 list comprehension

In [171]:
# font name을 알고 있다면 생략가능
#한글폰트 path 설정

#font의 파일정보로 font name 을 알아내기

In [172]:
# matplotlib의 rc(run command) 함수를 사용해서 font name(Malgun Gothic) 설정

### Figure, Axes, Plot
* Axes는 Plot이 실제 그려지는 공간
* Figure는 Axes 보다 더 상위의 공간 : Figure을 여러개의 Axes로 분할해서 Plot를 그릴 수 있다
* 비교) Axis는 X 축, Y축
* seaborn의 barplot() 함수(막대그래프) 사용

In [173]:
# subplots() 함수를 사용하여 axes 객체를 생성하기

# seaborn의 barplot() 함수 호출하기 - 행정구역과 인구수

# seaborn의 barplot() 함수 호출하기 - 행정구역과 면적

# plt.show()

In [174]:
# 광역시도 이름을 인자로 받아서 인구수와 면적을 그려주는 함수
def show_pop_area(sido_name):
    pass

In [175]:
show_pop_area('경기도')

In [176]:
# 전국데이터의 광역시도의 인구수

In [177]:
# figure, ax1 = plt.subplots(nrows=1, ncols=1)
# figure.set_size_inches(18,12)
# sns.barplot(data=seoul_df, x="행정구역", y="인구수", ax=ax1,hue='행정구역')

#y축의 label값에 ,(콤마) 출력하기
# ax1.get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))


# for item in ax1.get_xticklabels(): 
#     item.set_rotation(90)
# for i, v in enumerate(seoul_df["인구수"].items()):
#     ax1.text(i ,v[1], "{:,}".format(v[1]), color='m', va ='bottom', rotation=45)
# plt.tight_layout()